<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="_csrf" th:if="${_csrf != null}" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:if="${_csrf != null}" th:content="${_csrf.headerName}"/>
  <meta name="_page_error" th:if="${ERROR_MESSAGE != null}" th:content="${ERROR_MESSAGE}"/>
  <title>Page Title</title>
  <link rel="stylesheet" href="../../static/css/element-plus.css" th:href="@{/static/css/element-plus.css}"/>
</head>
<body>
<div layout:fragment="app"></div>
<script src="../../static/js/vue.global.js" th:src="@{/static/js/vue.global.js}"></script>
<script src="../../static/js/element-plus.js" th:src="@{/static/js/element-plus.js}"></script>
<script type="application/javascript">
  const _CSRF_META = document.querySelector('meta[name="_csrf"]');
  if (_CSRF_META) {
    const _CSRF_TOKEN = _CSRF_META.getAttribute('content')
  }
  const _CSRF_HEADER_META = document.querySelector('meta[name="_csrf_header"]');
  if (_CSRF_HEADER_META) {
    const _CSRF_HEADER = _CSRF_HEADER_META.getAttribute('content')
  }
  const _PAGE_ERROR_META = document.querySelector('meta[name="_page_error"]')
  if (_PAGE_ERROR_META) {
    const _PAGE_ERROR = _PAGE_ERROR_META.getAttribute('content')
  }
</script>
<script layout:fragment="bodyScript"></script>
<script>
  if (_PAGE_ERROR) {
    ElementPlus.ElMessage.error({
      message: _PAGE_ERROR,
      duration: 0,
      showClose: true
    })
  }
</script>
</body>
</html>