html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body > div#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.el-form-item.mini {
  margin-bottom: 5px;
}

.el-breadcrumb {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.el-pagination {
  margin-top: 10px;
}
